
.vam {
    vertical-align: middle;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-grow {
    display: inline-block;
    flex-grow: 1;
}

.mb {
    margin-bottom: 1rem;
}

.pageHeight {
    min-height: calc(100vh - 12.25rem);
}

nav.navbar {
    padding: .5rem 1rem;
}

nav.navbar {
    border-radius: 0;
}

.hero {
    text-align: center;
    background-size: cover;
}

.hero .title {
    font-family: 'Signika', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.55rem;
    margin: 1.5rem 0 .75rem 0;
    text-shadow: 0 0 14px rgba(22, 22, 22, 0.65);
}

/* h1 {
    font-family: 'Signika', Arial, Helvetica, sans-serif;
} */

.width {
    max-width: 800px;
    margin: 0 auto;
}

.width.sm {
    max-width: 720px;
}

.main-container {
    margin-top: 2rem;
}

.trash, .edit {
    color: transparent;
    font-size: 1.25rem!important;
    cursor: pointer;
}

.r-row:hover .trash {
    color: rgb(255, 81, 81, .88);
}

.r-row:hover .trash:hover {
    color: rgb(255, 81, 81, .92);
}

.r-row:hover .edit {
    color: rgba(240, 240, 240, 0.88);
}

.r-row:hover .edit:hover {
    color: rgba(240, 240, 240, 0.92);
}

footer.footer {
    padding: 2.25rem 1rem 2.25rem;
}