
.flex {
	display: flex;
	align-items: center;
}

.flex-grow {
    display: inline-block;
    flex-grow: 1;
}

.pageHeight {
    min-height: calc(100vh - 12.5rem);
}

nav.navbar {
    padding: .5rem 1rem;
}

nav.navbar {
    border-radius: 0;
}

.hero {
    text-align: center;
    background-size: cover;
}

.hero .title {
    font-family: 'Signika', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.55rem;
    margin: 1.5rem 0 .75rem 0;
    text-shadow: 0 0 14px rgba(22, 22, 22, 0.65);
}

/* h1 {
    font-family: 'Signika', Arial, Helvetica, sans-serif;
} */

.width {
    max-width: 720px;
    margin: 0 auto;
}

.main-container {
    margin-top: 2rem;
}

footer.footer {
    padding: 2.25rem 1rem 2.25rem;
}